*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header img {
    width: 200px;
}
.navbar{
    background-image: url(../Primer_Class/imagenes/wallpapernav.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.collapse a{
    color: #e2f5ff !important;
    font-weight: bold;
    
}
.collapse a:hover{

    color: #BBE0F2 ;
    border-bottom: 1px solid #BBE0F2;
}

/*.titulo-inicio h2{
    text-align: center
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',monospace; font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: block;
    /*background-color: #384fd1 

}*/

.poster_inicial{
    width: 100%;
    padding: 30px;
}

.contenedor-poster-inicial img{
    width: 100%;
    object-fit: cover;
}

.productos{
    width: 100%;
    padding: 30px 50px 20px 50px;
    letter-spacing: 0.5px;
    text-align: center;
    background:url(../Primer_Class/imagenes/fondoarticulos.jpg);
}
    
.titulo-productos h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',monospace;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: block;
    background-color: #384fd1 ;
}
    
.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    background: none;
}

.contenido-productos{
    width: 15rem;
    box-shadow: 0 0 6px 0 rgba(70, 75, 71, 0.712);
    overflow: hidden;
    height: 350px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}

.contenido-productos img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
    transition: .3s;

}

.contenido-productos img:hover{
    transform: scale(1.02);

}

.producto{
    height: 60%;
}

.texto-ref{
    height: 40%;
    width: 100%;
    text-align: left;
    margin: 10px; padding: 10px;
    color: #000;
}

.texto-ref h6{
    font-weight: bold;
}


.elementor-button-text{
    font-family: "Muli",Sans-serif; font-size: 14px; font-weight: bold;
    border-style: solid; border-width: 1px; border-color:#384fd1  ; border-radius: 0px;background-color:#384fd1;
    text-decoration: none;
    color: #ffffff;
    background-color:none;
    padding: 5px; margin-bottom: 10px;
    letter-spacing: 1px;
    align-items: center;
    cursor: pointer;  
}

.elementor-button-text:hover{
    background-color:#004370;
    border-color:  #004370;
    color:#fff;
}

#footer{
    background-image: url(../Primer_Class/imagenes/wallpapernav.jpg);
    background-size: contain;
    background-attachment: fixed;
    color: #fff !important;
}
